.container {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

.list-btn {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  width: 40px;
  text-align: center;
}

.toolbar-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.toolbar {
  padding: 0 10px;
}