@import '../fonts/iconfont.wxss';

$theme-color: #9370DB;

.tab-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: white;
  border-top: 1px solid #eee;
  text-align: center;
}

.tab-item {
  flex: 1;
  padding: 4px;
}

/* 图标样式 */
.tab-icon {
  font-size: 24px;
  font-weight: 100;
  width: 24px;
  height: 24px;
  margin: auto;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes pulseScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* 选中状态样式 */
.tab-icon.selected, .tab-text.selected {
  color: $theme-color;
}

.tab-icon.selected {
  animation: pulseScale 0.22s ease-in-out;
}

.tab-text {
  font-size: 10px;
}